<!-- templates/base_generic.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">Bio</a>
        <a href="{{ url_for('DR') }}">District and Race</a>
        <a href="{{ url_for('campaign') }}">Campaign</a>
        <!--<a href="{{ url_for('media') }}">Media</a>
        <a href="{{ url_for('events') }}">Events Us</a>
        <a href="{{ url_for('get_involved') }}">Get Involved</a>
        <a href="{{ url_for('news') }}">News</a>
        <a href="{{ url_for('donate') }}">Donate</a>
        <a href="{{ url_for('faqs') }}">FAQs</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact</a>-->
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <p>&copy; 2023 Ron DeSantis for Governor</p>
        <div class="footer-content">
            <div class="contact-info">
                <h5>Contact Us</h5>
                <p>Email: contact@campaign.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="sponsors">
                <h5>Sponsors</h5>
                <p>Sponsor 1</p>
                <p>Sponsor 2</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
